# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Environment config
.env

# IDE config
.idea

# AWS config
awsConfig.json

# Build
build
.build
